.otp-area{
    width: 70%;
    margin: 20px auto;
    padding: 10px;
    display: flex;
    color: antiquewhite;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.input-box {
    height: 45px;
    width: 42px;
    border-radius: 4px;
    outline: none;
    font-size: 1.125rem;
    text-align: center;
    border: 2px solid #ddd;
    background-color: white;
   

    
   .input-box:focus {
        border: 2px solid rgb(255, 255, 255);
    }
}

.submit-button {
    width: 300px; 
    height: auto; 
    padding: 10px; 
    border-radius: 4px; 
    background-color: rgb(22, 153, 193);
    font-size: 25px;
    border: none;
    color: rgb(248, 248, 248); 
    cursor: pointer; 
}


.container {
    text-align: center;
  }
  
  .center-content {
    display: flex;
    justify-content: center;
  }



